.Milim {
    text-align: center;
}

input {
    /* font-family: 'Dancing Script', cursive; */
    margin-top: 20px;
    height: 60px;
    width: 30%;
    min-width: 300px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.word {
    color: rgb(42, 42, 189);
}

.click-button {
    background-color: rgb(17, 17, 133);
    width: 110px;
    border: none;
    color: rgb(224, 240, 240);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    border-radius: 24px;
    cursor: pointer;
}

.click-button:hover {
    opacity: 70%;
}

.click-button:active {
    opacity: 40%;
}

.language-switch-button {
    margin: 10px 10px;
    background-color: rgb(17, 17, 133);
    border: none;
    color: rgb(224, 240, 240);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
    cursor: pointer;
}

.button-div {
    margin-top: 10px;
}