.Milim {
    text-align: center;
}

input {
    /* font-family: 'Dancing Script', cursive; */
    margin-top: 20px;
    height: 60px;
    width: 30%;
    min-width: 300px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.word {
    color: rgb(42, 42, 189);
}

button {
    background-color: rgb(17, 17, 133);
    width: 100px;
    font-size: 22px;

}

.button-div {
    margin-top: 10px;
}